body::before {
  background-position: center calc(50% - var(--scroll-amount) * 0.9);
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  filter: sepia(1) brightness(0.15);
}
body {
  overflow-anchor: none;

  padding: 0 0.5rem 0 0.5rem;
  background-color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #eee;
}
header img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

#navmain {
  display: flex;
  flex-direction: row;
}
.navbar {
  margin-block-start: 3rem;
  padding: 1.5rem 6rem 1.5rem 6rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
  body {
    margin-bottom: 15rem;
  }
  .navbar {
    top: unset;
    padding: 1.5rem;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
    margin-top: 0;
    height: 50px;
    z-index: 1000;
  }
  h1,
  h2 {
    text-align: center;
  }
  #home-section p {
    text-align: center;
  }
  .contact p {
    text-align: center;
  }
}
main,
section {
  width: 100%;
  margin-top: 4rem;
}

h1 {
  color: #9d6a30;
  font-size: 5rem;

  margin-bottom: 0.5em;
}
h2 {
  color: #9d6a30;
  font-size: 2.5rem;
  margin-bottom: 1em;
}
h3 {
  text-align: center;
  color: #9d6a30;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  text-align: left;
  color: #b4b6bd;
  font-size: 1.5rem;
  line-height: 1.6;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0.5rem;
  font-size: 1.5rem;
}
ul li {
  padding-bottom: 1rem;
}

li a {
  color: #b4b6bd;
  text-decoration: none;
  transition: color 0.3s;
}

li a:hover {
  color: #9d6a30; /* Change color on hover for interactivity */
}

/* For the Skills section */
.skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 75%;
  margin: auto;
}
.skillList li {
  padding: 0.5rem 1rem;
  background-color: #5f5e5e50;
  border-radius: 0.5rem;
}
@media (min-width: 1000px) {
  .skillList {
    width: 50%;
  }
}

/* Contact section and footer */

.contact p {
  color: #b4b6bd;
  font-size: 1.3rem;
}
.contact a {
  color: #b4b6bd;
  text-decoration: none;
  transition: color 0.3s;
}
.socialMedia a i:hover {
  color: #9d6a30;
  animation: spinAndGrow 0.3s linear forwards;
}
.socialMedia a:not(:hover) i {
  animation: spinAndShrink 0.2s linear;
}
@keyframes spinAndGrow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}
@keyframes spinAndShrink {
  0% {
    transform: rotate(0deg) scale(1.5);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}
.socialMedia {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}
.socialMedia i {
  font-size: 2.5rem; /* size of the icons */
}
